### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
totalschools = school_data_complete["school_name"].unique()
totalstudents = school_data_complete["student_name"]
totalbudget = school_data_complete["budget"].unique()
avgmath = school_data_complete["math_score"].mean()
avgread = school_data_complete["reading_score"].mean()
passrate = (avgmath+avgread)/2
passmath = school_data_complete["math_score"].loc[school_data_complete["math_score"]>=70]
percentmath = len(passmath)/len(totalstudents)*100
passread = school_data_complete["reading_score"].loc[school_data_complete["reading_score"]>=70]
percentread = len(passread)/len(totalstudents)*100

summary_df = pd.DataFrame({"Total Schools":[len(totalschools)],"Total Students":[len(totalstudents)],
                           "Total Budget":float(totalbudget.sum()), "Average Math Score":[avgmath],
                           "Average Reading Score":[avgread],"% Passing Math":[percentmath],
                           "% Passing Reading":[percentread],"Overall Passing Rate":[passrate]})
summary_df['Total Students']=summary_df['Total Students'].map("{:,}".format)
summary_df['Total Budget']=summary_df['Total Budget'].map("${:,.2f}".format)
summary_df['Average Math Score']=summary_df['Average Math Score'].map("{:.2f}".format)
summary_df['Average Reading Score']=summary_df['Average Reading Score'].map("{:.2f}".format)
summary_df['% Passing Math']=summary_df['% Passing Math'].map("{:.2f}".format)
summary_df['% Passing Reading']=summary_df['% Passing Reading'].map("{:.2f}".format)
summary_df['Overall Passing Rate']=summary_df['Overall Passing Rate'].map("{:.2f}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [54]:
schools_df = school_data_complete.sort_values(['school_name'])
schools_df = schools_df.groupby('school_name')

#School Type?

student_count = schools_df['school_name'].value_counts()
school_budget = schools_df['budget'].unique()
budget_per_stud = school_budget/student_count
school_avgmath = schools_df['math_score'].mean()
school_avgread = schools_df['reading_score'].mean()

school_passmath_df = schools_df.apply(lambda schools_df: schools_df.loc[schools_df['math_score']>=70])
school_passread_df = schools_df.apply(lambda schools_df: schools_df.loc[schools_df['reading_score']>=70])

passmath = school_passmath_df['school_name'].value_counts()
math_percent = passmath/student_count*100
print(math_percent)

print(student_count)
print(passmath)
#school_passrate = (school_passmath['math_score']+school_passread['reading_score'])/2



#school_summary = pd.DataFrame(

#print(school_avgmath)
#print(school_avgread)
# print(school_passmath)
# print(school_passread)
#print(school_passrate)
#school_type.head()
#school_summary.head()

KeyError: 'school_name'

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [4]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [5]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.