### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
totalschools = school_data_complete["school_name"].unique()
totalstudents = school_data_complete["student_name"]
totalbudget = school_data_complete["budget"].unique()
avgmath = school_data_complete["math_score"].mean()
avgread = school_data_complete["reading_score"].mean()
passrate = (avgmath+avgread)/2
passmath = school_data_complete["math_score"].loc[school_data_complete["math_score"]>=70]
percentmath = len(passmath)/len(totalstudents)*100
passread = school_data_complete["reading_score"].loc[school_data_complete["reading_score"]>=70]
percentread = len(passread)/len(totalstudents)*100

summary_df = pd.DataFrame({"Total Schools":[len(totalschools)],"Total Students":[len(totalstudents)],
                           "Total Budget":float(totalbudget.sum()), "Average Math Score":[avgmath],
                           "Average Reading Score":[avgread],"% Passing Math":[percentmath],
                           "% Passing Reading":[percentread],"Overall Passing Rate":[passrate]})
summary_df['Total Students']=summary_df['Total Students'].map("{:,}".format)
summary_df['Total Budget']=summary_df['Total Budget'].map("${:,.2f}".format)
summary_df['Average Math Score']=summary_df['Average Math Score'].map("{:.2f}".format)
summary_df['Average Reading Score']=summary_df['Average Reading Score'].map("{:.2f}".format)
summary_df['% Passing Math']=summary_df['% Passing Math'].map("{:.2f}".format)
summary_df['% Passing Reading']=summary_df['% Passing Reading'].map("{:.2f}".format)
summary_df['Overall Passing Rate']=summary_df['Overall Passing Rate'].map("{:.2f}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [20]:
schools_df = school_data_complete.sort_values(['school_name'])
school_names = schools_df['school_name'].unique()
schools_df = schools_df.groupby('school_name',as_index=True)

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)

In [21]:
school_type = schools_df['type'].unique()
student_count = schools_df['school_name'].value_counts()
school_budget = schools_df['budget'].unique()
budget_per_stud = school_budget/student_count
school_avgmath = schools_df['math_score'].mean()
school_avgread = schools_df['reading_score'].mean()

In [22]:
passmath = school_data_complete.loc[school_data_complete['math_score']>=70]
passmath = passmath.groupby('school_name')
passmath_stud = passmath['school_name'].value_counts()
math_percent = round(passmath_stud/student_count*100,1)

passread = school_data_complete.loc[school_data_complete['reading_score']>=70]
passread = passread.groupby('school_name')
passread_stud = passread['school_name'].value_counts()
read_percent = round(passread_stud/student_count*100,1)

school_passrate = (passmath_stud+passread_stud)/2

In [23]:
school_type.reset_index(drop=True)
student_count.reset_index(drop=True,inplace=True)
budget_per_stud.reset_index(drop=True,inplace=True)
math_percent.reset_index(drop=True,inplace=True)
read_percent.reset_index(drop=True,inplace=True)
school_passrate.reset_index(drop=True,inplace=True)

# print(f"Total Schools {totalschools}")
# print(f"Type {school_type}")
# print(f"Total Students {student_count}")
# print(f"Total Budget {school_budget}")
# print(f"Budget per Stud {budget_per_stud}")
# print(f"Avg Math {school_avgmath}")
# print(f"Avg Read {school_avgread}")
# print(f"Math Percent {math_percent}")
# print(f"Read Percent {read_percent}")
# print(f"Overall {school_passrate}")

In [24]:
sum1 = pd.DataFrame({'School Name': school_names,'Total Students':student_count,'Per Student Budget':budget_per_stud,'% Passing Math':math_percent,
                   '% Passing Reading':read_percent,'Overall Pass Rate':school_passrate})
sum1

,School Name,Total Students,Per Student Budget,% Passing Math,% Passing Reading,Overall Pass Rate
0,Bailey High School,4976,[628.0],66.7,81.9,3697.5
1,Cabrera High School,1858,[582.0],94.1,97.0,1776.0
2,Figueroa High School,2949,[639.0],66.0,80.7,2163.5
3,Ford High School,2739,[644.0],68.3,79.3,2021.5
4,Griffin High School,1468,[625.0],93.4,97.1,1398.5
5,Hernandez High School,4635,[652.0],66.8,80.9,3421.0
6,Holden High School,427,[581.0],92.5,96.3,403.0
7,Huang High School,2917,[655.0],65.7,81.3,2144.0
8,Johnson High School,4761,[650.0],66.1,81.2,3506.0
9,Pena High School,962,[609.0],94.6,95.9,916.5
10,Rodriguez High School,3999,[637.0],66.4,80.2,2931.0
11,Shelton High School,1761,[600.0],93.9,95.9,1670.5
12,Thomas High School,1635,[638.0],93.3,97.3,1558.0
13,Wilson High School,2283,[578.0],93.9,96.5,2173.5
14,Wright High School,1800,[583.0],93.3,96.6,1709.5

In [25]:
sum2 = pd.DataFrame({'School Type':school_type,'School Budget':school_budget,'Average Math':school_avgmath,
                    'Average Reading':school_avgread})
sum2.reset_index(drop=False,inplace=True)
sum2 = sum2.rename(columns={'school_name':'School Name'})
sum2

,School Name,School Type,School Budget,Average Math,Average Reading
0,Bailey High School,[District],[3124928],77.048432,81.033963
1,Cabrera High School,[Charter],[1081356],83.061895,83.975780
2,Figueroa High School,[District],[1884411],76.711767,81.158020
3,Ford High School,[District],[1763916],77.102592,80.746258
4,Griffin High School,[Charter],[917500],83.351499,83.816757
5,Hernandez High School,[District],[3022020],77.289752,80.934412
6,Holden High School,[Charter],[248087],83.803279,83.814988
7,Huang High School,[District],[1910635],76.629414,81.182722
8,Johnson High School,[District],[3094650],77.072464,80.966394
9,Pena High School,[Charter],[585858],83.839917,84.044699
10,Rodriguez High School,[District],[2547363],76.842711,80.744686
11,Shelton High School,[Charter],[1056600],83.359455,83.725724
12,Thomas High School,[Charter],[1043130],83.418349,83.848930
13,Wilson High School,[Charter],[1319574],83.274201,83.989488
14,Wright High School,[Charter],[1049400],83.682222,83.955000

In [32]:
summary_merge = pd.merge(sum1,sum2,on='School Name')
summary_merge = summary_merge[['School Name','School Type','Total Students','School Budget','Per Student Budget',
                               'Average Math','Average Reading','% Passing Math','% Passing Reading','Overall Pass Rate']]
summary_merge

,School Name,School Type,Total Students,School Budget,Per Student Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,Overall Pass Rate
0,Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.7,81.9,3697.5
1,Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.1,97.0,1776.0
2,Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,66.0,80.7,2163.5
3,Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.3,79.3,2021.5
4,Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.4,97.1,1398.5
5,Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.8,80.9,3421.0
6,Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.5,96.3,403.0
7,Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.7,81.3,2144.0
8,Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.1,81.2,3506.0
9,Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.6,95.9,916.5
10,Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.4,80.2,2931.0
11,Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.9,95.9,1670.5
12,Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.3,97.3,1558.0
13,Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.9,96.5,2173.5
14,Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.3,96.6,1709.5

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [37]:
bestschools = summary_merge.sort_values('Overall Pass Rate',ascending=False).reset_index()
print(bestschools.head())

   index            School Name School Type  Total Students School Budget  \
0      0     Bailey High School  [District]            4976     [3124928]
1      8    Johnson High School  [District]            4761     [3094650]
2      5  Hernandez High School  [District]            4635     [3022020]
3     10  Rodriguez High School  [District]            3999     [2547363]
4     13     Wilson High School   [Charter]            2283     [1319574]

  Per Student Budget  Average Math  Average Reading  % Passing Math  \
0            [628.0]     77.048432        81.033963            66.7
1            [650.0]     77.072464        80.966394            66.1
2            [652.0]     77.289752        80.934412            66.8
3            [637.0]     76.842711        80.744686            66.4
4            [578.0]     83.274201        83.989488            93.9

   % Passing Reading  Overall Pass Rate
0               81.9             3697.5
1               81.2             3506.0
2               80.9             3421.0
3               80.2             2931.0
4               96.5             2173.5

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [38]:
worstschools = summary_merge.sort_values('Overall Pass Rate',ascending=True).reset_index()
print(worstschools.head())

   index          School Name School Type  Total Students School Budget  \
0      6   Holden High School   [Charter]             427      [248087]
1      9     Pena High School   [Charter]             962      [585858]
2      4  Griffin High School   [Charter]            1468      [917500]
3     12   Thomas High School   [Charter]            1635     [1043130]
4     11  Shelton High School   [Charter]            1761     [1056600]

  Per Student Budget  Average Math  Average Reading  % Passing Math  \
0            [581.0]     83.803279        83.814988            92.5
1            [609.0]     83.839917        84.044699            94.6
2            [625.0]     83.351499        83.816757            93.4
3            [638.0]     83.418349        83.848930            93.3
4            [600.0]     83.359455        83.725724            93.9

   % Passing Reading  Overall Pass Rate
0               96.3              403.0
1               95.9              916.5
2               97.1             1398.5
3               97.3             1558.0
4               95.9             1670.5

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [40]:
gradelevel = school_data_complete.sort_values(['school_name','grade'])

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17881,17881,Antonio Foster,M,10th,Bailey High School,71,95,7,District,4976,3124928
17884,17884,Stephanie Robbins,F,10th,Bailey High School,87,56,7,District,4976,3124928
17886,17886,David Harper,M,10th,Bailey High School,97,60,7,District,4976,3124928
17887,17887,Michaela Morgan,F,10th,Bailey High School,74,74,7,District,4976,3124928
17895,17895,Laura Castillo,F,10th,Bailey High School,78,71,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
26018,26018,Brian Lopez,M,9th,Wright High School,79,91,10,Charter,1800,1049400
26023,26023,Jeremiah Patel,M,9th,Wright High School,87,97,10,Charter,1800,1049400
26027,26027,Michael Washington,M,9th,Wright High School,97,88,10,Charter,1800,1049400
26030,26030,William Richardson,M,9th,Wright High School,90,77,10,Charter,1800,1049400
26035,26035,Michael Holmes,M,9th,Wright High School,98,80,10,Charter,1800,1049400

In [65]:
freshmen = gradelevel.loc[gradelevel['grade']=='9th',:]
freshmen = freshmen.groupby('school_name')
fresh_avgmath = round(freshmen['math_score'].mean(),1)
fresh_avgmath

school_name
Bailey High School       77.1
Cabrera High School      83.1
Figueroa High School     76.4
Ford High School         77.4
Griffin High School      82.0
Hernandez High School    77.4
Holden High School       83.8
Huang High School        77.0
Johnson High School      77.2
Pena High School         83.6
Rodriguez High School    76.9
Shelton High School      83.4
Thomas High School       83.6
Wilson High School       83.1
Wright High School       83.3
Name: math_score, dtype: float64

In [66]:
sophomores = gradelevel.loc[gradelevel['grade']=='10th',:]
sophomores = sophomores.groupby('school_name')
soph_avgmath = round(sophomores['math_score'].mean(),1)

In [67]:
juniors = gradelevel.loc[gradelevel['grade']=='11th',:]
juniors = juniors.groupby('school_name')
jun_avgmath = round(juniors['math_score'].mean(),1)

In [68]:
seniors = gradelevel.loc[gradelevel['grade']=='12th',:]
seniors = seniors.groupby('school_name')
sen_avgmath = round(seniors['math_score'].mean(),1)

In [69]:
mathbygrade = pd.DataFrame({'9th Grade':fresh_avgmath,'10th Grade':soph_avgmath,'11th Grade':jun_avgmath,
                            '12th Grade':sen_avgmath})
mathbygrade.reset_index(drop=False,inplace=True)
mathbygrade = mathbygrade.rename(columns={'school_name':'Average Math Scores by Grade'})
mathbygrade.set_index('Average Math Scores by Grade',drop=True,inplace=False)
print(mathbygrade)

   Average Math Scores by Grade  9th Grade  10th Grade  11th Grade  12th Grade
0            Bailey High School       77.1        77.0        77.5        76.5
1           Cabrera High School       83.1        83.2        82.8        83.3
2          Figueroa High School       76.4        76.5        76.9        77.2
3              Ford High School       77.4        77.7        76.9        76.2
4           Griffin High School       82.0        84.2        83.8        83.4
5         Hernandez High School       77.4        77.3        77.1        77.2
6            Holden High School       83.8        83.4        85.0        82.9
7             Huang High School       77.0        75.9        76.4        77.2
8           Johnson High School       77.2        76.7        77.5        76.9
9              Pena High School       83.6        83.4        84.3        84.1
10        Rodriguez High School       76.9        76.6        76.4        77.7
11          Shelton High School       83.4        82.9        83.4        83.8
12           Thomas High School       83.6        83.1        83.5        83.5
13           Wilson High School       83.1        83.7        83.2        83.0
14           Wright High School       83.3        84.0        83.8        83.6

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [70]:
fresh_avgread = round(freshmen['reading_score'].mean(),1)
soph_avgread = round(sophomores['reading_score'].mean(),1)
jun_avgread = round(juniors['reading_score'].mean(),1)
sen_avgread = round(seniors['reading_score'].mean(),1)

school_name
Bailey High School       81.3
Cabrera High School      83.7
Figueroa High School     81.2
Ford High School         80.6
Griffin High School      83.4
Hernandez High School    80.9
Holden High School       83.7
Huang High School        81.3
Johnson High School      81.3
Pena High School         83.8
Rodriguez High School    81.0
Shelton High School      84.1
Thomas High School       83.7
Wilson High School       83.9
Wright High School       83.8
Name: reading_score, dtype: float64

In [71]:
readbygrade = pd.DataFrame({'9th Grade':fresh_avgread,'10th Grade':soph_avgread,'11th Grade':jun_avgread,
                            '12th Grade':sen_avgread})
readbygrade.reset_index(drop=False,inplace=True)
readbygrade = readbygrade.rename(columns={'school_name':'Average Reading Scores by Grade'})
readbygrade.set_index('Average Reading Scores by Grade',drop=True,inplace=False)
print(readbygrade)

   Average Reading Scores by Grade  9th Grade  10th Grade  11th Grade  \
0               Bailey High School       81.3        80.9        80.9
1              Cabrera High School       83.7        84.3        83.8
2             Figueroa High School       81.2        81.4        80.6
3                 Ford High School       80.6        81.3        80.4
4              Griffin High School       83.4        83.7        84.3
5            Hernandez High School       80.9        80.7        81.4
6               Holden High School       83.7        83.3        83.8
7                Huang High School       81.3        81.5        81.4
8              Johnson High School       81.3        80.8        80.6
9                 Pena High School       83.8        83.6        84.3
10           Rodriguez High School       81.0        80.6        80.9
11             Shelton High School       84.1        83.4        84.4
12              Thomas High School       83.7        84.3        83.6
13              Wilson High School       83.9        84.0        83.8
14              Wright High School       83.8        83.8        84.2

    12th Grade
0         80.9
1         84.3
2         81.4
3         80.7
4         84.0
5         80.9
6         84.7
7         80.3
8         81.2
9         84.6
10        80.4
11        82.8
12        83.8
13        84.3
14        84.1

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
school_type

In [ ]:
schools_df.head()